
comparator
correlator
differentiator
drawer
functionFitter
grapher
hister
housekeeper
logTOplot
mapper
overlayer
peakFitter
plotter
printer
projector
pulseEvaluation
rootTOtext
setData
shower
slicer
superimposer
textTOtree
