
comparator
correlator
differentiator
drawer
functionFitter
grapher
hister
housekeeper
logTOplot
overlayer
peakFitter
plotter
projector
pulseEvaluation
rootTOtext
setData
shower
slicer
superimposer
textTOtree
